# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore C++ build files
build/
cmake/
*.so
*.pyd
*.dylib
*.lib
*.a
*.o
*.obj
*.exe
*.dll
*.bin

# Ignore VSCode files
.vscode

# Environment variables
.env
.env.example

# Files for testing
sample_test_file.pdf
sample_test_file.txt

# Virtual environment
venv/
.venv/
.venv/*

# Test files
/test_files/