# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore C++ build files
build/
cmake/
*.so
*.pyd
*.dylib
*.lib
*.a
*.o
*.obj
*.exe
*.dll
*.bin

# Ignore VSCode files
.vscode

.env
.env.example
